<article class="max-w-xl">
  <p>My name is Eric Elliott. I'm a software developer living in Somerville, MA with my girlfriend and my dog.</p>
  <p>I've been a software developer for a small U.S. defense department contractor since 2003.</p>
  <p>I was the lead engineer for a number of years on the U.S. Army's Infantry Warrior Simulation, and over the last
  few years have been working on a succession of projects through the Small Business Innovative Research (SBIR) grant program. 
  More detail can be found in my <a href="/resume">Resume</a>.</p>
  <p>More recently, I've switched to working part time, and spend my extra time dabbling in cryptocurrency trading, 
  and working on my own web <a href="/#projects">projects</a>. Somehow, over all those years I never had the chance 
  to work on a website, so I feel like I'm playing a bit of catch up.</p>
  <p>My goal is to one day figure out how to make a living writing software independently on the internet. I'm not quite
  convinced I have the desire or will to do all the non-programming tasks like sales and marketing, so I'm still pondering that.</p>
  <p>One thing I am convinced of is wanting to make software that is both useful and used.</p>
  <p>Although millions of dollars were spent on IWARS, it was never widely used, and even when it was, I'm not sure what benefit
  it provided. And since then I've worked on a dozen projects (some potentially useful) that have gone nowhere.</p>
  <p>My goal doesn't seem lofty, just make software that people get benefit from using, but it's been elusive to achieve both.</p>
  <div>
    <h2>My Dotcom Story</h2>
    <p>I graduated from college in 2000, at the tail end of the dotcom bubble, and got a job with Broadband2Wireless,
    a startup that was rolling out broadband wireless networks in multiple cities across the U.S.</p>
    <p>Their crazy idea was to basically use hardware meant for short range wifi (like inside office buildings), 
    and just slap them on buildings all over cities.</p>
    <p>The hardware wasn't meant for such massive rollouts, so every box had to
    be hand provisioned to configure all of the networking information.</p>
    <p>The fastest way to do this was to connect over the serial port and configure the options using the built-in interface. 
    My job was to speed this up by writing a program that would programmatically walk through the interface and send the 
    appropriate key strokes with predefined configuration settings.</p>
    <p>Someone (interns maybe?) would run my program, set the configuration once for a set of boxes, 
    plug in a box, hit run, unplug it, move on to the next.</p>
    <p>The crazy thing was that it was working (on a small scale). In 2001, you could have unlimited wireless broadband internet
    (1.5 megabit I think?) on your laptop while sitting on a park bench in Boston common for $50/month.</p>
    <p>Needless to say, the money dried up, we all got laid off, and the company filed for bankruptcy 6 months after I started.</p>
  </div>
</article>