<header id="header" 
        class=" bg-gray-800" 
        role="banner">
  <div class="inner py-5 flex justify-between items-center">
    {% include "components/logo.njk" %}
    {% include 'components/nav.njk' %}
  </div>
</header>
