<nav id="nav" class="p-5 w-full fixed bottom-0 sm:hidden bg-black z-40">

    <ul class="grid grid-cols-3 gap-4 text-base">

        {% for item in navigation.main %}

        <li class="text-center mr-4">
            <a href="{{ item.url | safe }}" class="link font-bold text-white hover:text-pink-500 active:text-pink-500 {% if page.url == item.url %}active text-pink-500{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
        </li>

        {% endfor %}

    </ul>
</nav>
