<nav id="nav" class="py-2 h-full bg-blue-900">
  <div class="flex items-center inner">
    {% include "components/logo.njk" %}
    <ul class="ml-auto flex list-reset text-base">

      {% for item in navigation.main %}
        <li class="ml-5">
          <a  href="{{ item.url | safe }}" 
              class="link font-bold text-gray-500 uppercase tracking-wide hover:text-pink-500 active:text-pink-500 {% if page.url == item.url %}active text-pink-500{% endif %}
              " {% if page.url == item.url %} aria-current="page" {% endif %}>{{ item.label }}</a>
        </li>
      {% endfor %}

    </ul>
  </div>
</nav>