<div>
  <h3 class="pt-2 text-gray-800"><a href="https://paybaq.io" target="_blank">Paybaq.io</a></h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
    <div class="">
      <p>
        Paybaq is an app for tracking shared expenses and calculating who owes who.
      </p>
      <p>
        I built it to help with managing expenses on yearly hiking trips I take with a group of friends, and
        now it's available to the world! So give it a try, it's free.
      </p>
      <p>
        I also periodically write about its development in my <a href="blog">blog</a>.
      </p>
    </div>
    <img  data-lazy="/images/paybaq_small.png" alt="Paybaq screenshot" 
          class="order-first sm:order-last shadow-xl rounded-lg"></img>
  </div>
</div>