<div>
  <h3 class="pt-2 text-gray-800"></h3>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:gap-20">
    <div class="">
      <p>
        <b><a href="https://playword.net/wordspy" target="_blank">Wordspy</a></b> is a word guessing game 
        inspired by the <a href="https://czechgames.com/en/codenames/">Codenames</a> boardgame.
        It's played by at least 4 people, split into teams of two. 
      </p>
      <p>
        I built it to provide some socially distant entertainment while the corona virus is ruining our in-person fun. 
        The current version requires teams to be able to talk to each other, so it's best over video chat.
      </p>
      <p>
        I used the <a href="https://elixir-lang.org/" target="_blank">Elixir language</a>
        and the <a href="https://www.phoenixframework.org/" target="_blank">Phoenix</a> web framework,
        with styling powered by <a href="https://tailwindcss.com/" target="_blank">Tailwindcss</a>. You can
        have a look at the code on <a href="https://github.com/okadoke/wordgame" target="_blank">GitHub</a>.
      </p>
    </div>
    <a href="https://playword.net/wordspy" target="_blank" class="underline-none order-first lg:order-last max-w-md">
      <img  data-lazy="/images/wordspy.png" alt="Wordspy screenshot" 
            class="order-first sm:order-last shadow rounded-lg"></img>
    </a>
  </div>
</div>