<div>
  <h3 class="pt-2 text-gray-800"><a href="https://playword.net/wordspy" target="_blank">Wordspy</a></h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
    <div class="">
      <p>
        Wordspy is a word guessing game inspired by the <a href="https://czechgames.com/en/codenames/">Codenames</a> boardgame.
        It's played by at least 4 people, split into teams of two. 
      </p>
      <p>
        I built it to provide some socially distant entertainment while the corona virus is ruining our in-person fun. 
        The current version requires teams to be able to talk to each other, so it's best over video chat.
      </p>
    </div>
    <img  data-lazy="/images/wordspy.png" alt="Wordspy screenshot" 
          class="order-first sm:order-last shadow-xl rounded-lg"></img>
  </div>
</div>