--- 
layout: default 
meta_title: Blog 
meta_description: Rocket Hat Blog 
body_class: blog 
title: Blog 
---

<main id="main" class="main flex flex-1 flex-col px-2 pt-10 lg:p-20" tabindex="-1">
  <section class="flex flex-col items-center">
    <h1 class="text-4xl font-bold">Rocket Hat Blog</h1>
    <h2 class="max-w-md font-normal text-center text-gray-600">
    A blog about software development, and perhaps other topics that I feel like writng about.
    </h2>
  </section>
  <section id="container-centre" class="mt-10 flex-1" aria-label="Blogs">
    {# <h1 class="page-title text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }}</h1> #}
    <div class="max-w-5xl mx-auto flex flex-wrap">

      {% for post in collections.blog %}

        <article class="m-3 min-w-64 article-card flex-1 flex flex-col bg-white overflow-hidden rounded-lg shadow-lg">
          <a class="flex-1" href="{{ post.url }}">
            {# featured post image & category #}
            {% if post.data.featured_image %}
              <div class="featured-image-link block relative overflow-hidden" >
                <figure>
                  {# the 'data-lazy' attribute will lazy load your images in #}
                  {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                  {# it's not fully supported in some browsers, so proceed with caution! #}
                  {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                  <img data-lazy="{{ post.data.featured_image }}" class="h-48 object-cover" alt="{{ post.data.image_caption }}">
                </figure>
              </div>
            {% endif %}
            <h2 class="mx-5 mt-5 text-2xl text-neutral-800">
              {{ post.data.title }}
            </h2>
          </a>

          <div class="flex-shrink-0">
            {# category link #}
            <div class="px-5 text-sm text-gray-600 md:flex">
              <span class="author">By
                {{ site.author.name }}</span>
              <span class="hidden md:block px-2">—</span>
              <time datetime="{{ post.date }}">
                {{ post.date | dateDisplay }}
              </time>
            </div>
            <ul class="px-5 pb-5 flex flex-wrap items-baseline">
              <li class="mr-2 text-xxs">In:</li>
              {% for item in post.data.tags %}
                {%- if item != "blog" -%}
                  <li class="mr-2">
                    <a href="/category/{{ item }}">
                      <span class="inline-block text-xxs">{{ item | capitalize }}</span>
                    </a>
                  </li>
                {%- endif -%}
              {% endfor %}

            </ul>
          </div>
        </article>

      {% endfor %}
    </div>
  </section>
</main>