---
layout: default
meta_title: Home
meta_description: Rocket Hat, the projects of Eric Elliott
body_class: home
title: Welcome to Rocket Hat
---

<main id="main" class="inner-narrow py-10 lg:py-20 flex flex-1 flex-col focus:outline-none" tabindex="-1">

    <section id="container-centre" class="flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">
          <p>
            The internet home of Eric Elliott. Here you'll find my projects, blog, resume...things like that.
          </p>
          <h2 class="pb-5 text-gray-500 uppercase tracking wide">Projects</h2>
          <h3 class="text-gray-800"><a href="https://paybaq.io">Paybaq.io</a></h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
            <div class="">
              <p>
                Paybaq is an app for tracking shared expenses and calculating who owes who.
              </p>
              <p>
                I built it to help with managing expenses on yearly hiking trips I take with a group of friends, and
                now it's available to the world! So give it a try, it's free.
              </p>
              <p>
                I also periodically write about its development in my <a href="blog">blog</a>.
              </p>
            </div>
            {# <div class="w-1/2 relative shadow-lg" >
              <img  data-lazy="/images/paybaq_small.png" alt="Paybaq screenshot" 
                    class="absolute h-full w-full object-fill"></img>
            </div> #}
            <img  data-lazy="/images/paybaq_small.png" alt="Paybaq screenshot" 
                  class="order-first sm:order-last shadow-xl rounded-lg"></img>
          </div
        </div>

    </section>

</main>


