---
layout: default
meta_title: Projects
meta_description: Rocket Hat projects
body_class: home
title: Projects
---

<main id="main" class="inner py-10 lg:py-20">
  <div>
    {% include "components/paybaq.njk" %}
  </div>
  <div class="mt-10">
    {% include "components/wordspy.njk" %}
  </div>
</main>