---
layout: default
title: Tailwind Application
---
<main class="max-w-xl">
  <div class="flex">
    <p class="text-lg items-center">👋</p>
    <div class="ml-2">
      <p class="mb-0">Hello Tailwind folks (Adam, Steve, others I don't know of).</p>
      <p>Welcome to my application.</p>
    </div>
  </div>
  <h2 class="mt-5">Who am I?</h2>
  <p>My name is Eric Elliott. I'm a software developer living in Somerville, MA with my girlfriend and
  <a href="https://www.instagram.com/willabee_dog/" target="_blank">my dog</a>.</p>
  <p>I've been a software developer for a small U.S. defense department contractor since 2003. I was the 
  lead engineer for a number of years on the U.S. Army's Infantry Warrior Simulation, and over the last
  few years I've been working on projects through the Small Business Innovative Research (SBIR) grant program. 
  More on all of that is in my <a href="/resume">resume</a>.</p>
  <p>Over the last year or so I've been working on my own <a href="/#projects">projects</a> in an effort to become a well-rounded 
  web developer, as I never really had the opportunity through my professional projects.</p> 
  <p>A large part of that process has involved using Tailwind, reading Refactoring UI, watching Adam's streams, and listening to
  Full-Stack Radio.
  <h2 class="mt-5">Why me?</h2>
  <p>I won't claim to be an expert in full-stack web development, but I've spent my career wearing many hats, 
  jumping from technology to technology depending on the needs of the project.</p>
  <p>For the most part we've never had dedicated designers, testers, deployment engineers, dev-ops teams, technical writers, etc.
  so I've always been involved in the full stack of engineering tasks.</p>
  <p>While I don't consider myself an expert in any one framework or language, I've used many of them (React, Vue, Svelte, Imba,
  Node, Django, Phoenix) and feel comfortable that I can be productive in any of them. 
  I'm partial to Vue, Elixir, and Phoenix framework's LiveView at the moment.
  <h2 class="mt-5">Why You?</h2>
  <p>I've spent many years working on software that was either not used or not useful, and I think working on the Tailwind ecosystem 
  is the perfect opportunity to achieve both. I like working on small teams, and Adam's collaborative development plan sounds great to me.</p>
  <p>I've never properly pair programmed, but I've always made an effort to have a counterpart to work with. I much prefer the 
  times when I've been able to pull someone else in as a co-lead to work through designs and decision making with.</p>
  <p>And needless to say, I'm a big fan of Tailwind, and a big fan of making design accessible (to programmers and anyone struggling with it), 
  and I think there's an opportunity to do more in that area using Tailwind as the cornerstone.</p>
  <p>I've started using Figma, but most of the time I just find it easier to prototype directly with html and tailwind and cut out
  the translation step. I wonder if it might be possible to create a WYSIWYG design tool that could generate tailwindified html directly. 
  I think that could be a good bridge to bring developers into the world of Tailwind.</p>
  <h2 class="mt-5">What Else?</h2> 
  <p><a href="mailto:ercxyz@gmail.com">Email</a> is probably the best way to reach me, and feel free to reach out with any questions.</a></p>
  <p>My <a href="https://github.com/okadoke" target="_blank">GitHub</a> account doesn't have a lot, but may be of interest.</p>
  <p>Thanks for reading!</p>
</main>