---
layout: default 
---

{# a post layout #}
<main id="main" class=" flex flex-1 flex-col py-10 focus:outline-none" tabindex="-1">
  <article id="container-centre" class="flex-1">
    <div class="relative rounded-lg overflow-hidden">
      {# featured post image #}
      {% if featured_image %}

        <figure class="">
          <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">
        </figure>
        <div class="absolute bottom-0 left-0 right-0 mask-blog">
          <header class="hidden sm:block p-5 pt-20">
            <h1 class="page-title text-3xl text-gray-100 md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
            <div class="">
              <div class="text-sm md:text-base text-gray-300 flex justify-center">
                <p class="author">By
                  {{ site.author.name }}</p>
                <p class="px-2">—</p>
                <time datetime="{{ date }}">
                  {{ date | dateDisplay }}
                </time>

                {% if tags %}
                  {# this will create a comma for multiple category links #}
                  {% set comma = joiner() %}

                  <p class="px-2">—</p>
                  <p class="category">Posted in

                    {% for item in tags %}
                      {%- if item != "blog" -%}

                        <a href="/category/{{ item }}" class="text-pink-500 border-b-2 border-pink-500 hover:text-pink-600">{{ comma() }}
                          {{ item | capitalize }}</a>

                      {%- endif -%}
                    {% endfor %}

                  </p>

                {% endif %}

              </div>
            </div>
          </header>
        </div>

      {% endif %}
    </div>

    {% if image_caption %}
      <figcaption class="text-center text-sm italic text-gray-600 mt-2">{{ image_caption }}</figcaption>
    {% endif %}

    <header class="sm:hidden mt-5">
      <h1 class="page-title text-3xl text-purple-900 md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
      <div class="">
        <div class="text-sm md:text-base text-gray-600 flex justify-center">
          <p class="author">By
            {{ site.author.name }}</p>
          <p class="px-2">—</p>
          <time datetime="{{ date }}">
            {{ date | dateDisplay }}
          </time>

          {% if tags %}
            {# this will create a comma for multiple category links #}
            {% set comma = joiner() %}

            <p class="px-2">—</p>
            <p class="category">Posted in

              {% for item in tags %}
                {%- if item != "blog" -%}

                  <a href="/category/{{ item }}" class="text-pink-500 border-b-2 border-pink-500 hover:text-pink-600">{{ comma() }}
                    {{ item | capitalize }}</a>

                {%- endif -%}
              {% endfor %}

            </p>

          {% endif %}

        </div>
      </div>
    </header>
    <div class="mt-10 content">

      {{ content | safe }}

      {# category links list #}
      {% if tags %}

        <ul class="flex pt-4">

          {% for item in tags %}
            {%- if item != "blog" -%}

              <li class="mr-2">
                <a class="inline-block px-3 py-2 text-white bg-purple-900 text-xs font-semibold rounded hover:text-white hover:bg-pink-500" href="/category/{{ item }}">{{ item | capitalize }}</a>
              </li>

            {%- endif -%}
          {% endfor %}

        </ul>

      {% endif %}

    </div>

    <div class="mt-16 ">
      <div class="flex justify-between mt-16 border-t border-gray-200 pt-12">
        {% if prevPost %}
          <p class="text-gray-700 text-sm">
            <span>Previous:</span>
            <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
          </p>
        {% endif %}
        {% if nextPost %}
          <p class="text-gray-700 text-sm">
            <span>Next:</span>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </p>
        {% endif %}
      </div>
    </div>

  </article>

</main>